<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Inicio</title>
</head>
<body>
    <h1>Gráfico de ejemplo de {{ usuario.nombre }}</h1>
    <p>El correo de {{ usuario.nombre }} es {{ usuario.email }} donde se podrá poner en contacto con él. El contacto se encuentra en la ciudad de {{ usuario.ciudad }}</p>
    <img src="data:image/png;base64, {{ imagen }}" alt="Gráfico de ejemplo">
</body>
</html>