* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --idex: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .07, 0, 1);
}

body {
    background-color: antiquewhite;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.items {
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index)*35);
}

.item::before, .item::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index)*-1);
}

.item::after{
    left: calc(var(--index)*-1);
}

.items .item:hover{
    filter: inherit;
    transform: translateZ(calc(var(--index)*10));
}

.items .item:hover + *{
    filter: inherit;
    transform: translateZ(calc(var(--index)*8.5))
    rotateY('35deg');
    z-index: -1;

}