<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
            <div class="items">
                <div class="item" tabindex="0" style="background-image: url(https://cdn.pixabay.com/photo/2023/08/07/14/52/sunflowers-8175248_1280.jpg)"></div>
                <div class="item" tabindex="0" style="background-image: url(https://cdn.pixabay.com/photo/2023/08/07/14/52/sunflowers-8175248_1280.jpg)"></div>
                <div class="item" tabindex="0" style="background-image: url(https://cdn.pixabay.com/photo/2023/08/07/14/52/sunflowers-8175248_1280.jpg)"></div>
            </div>
        </div>
</body>
</html>